# Prerequisites
*.d

# Compiled Object files
/obj/*.o
!/obj/fm*
/obj/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
/mod/*.mod
!/mod/fm*
/mod/*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/bin/*_exec

# Output/Logs
/dat/*
*.log
*.out

# Miscellaneous
/f90/unused/*
/f90/test.f90
/*_
